body{
	color: #FFF;
}

p{
	color: #fff;
}

/*IONIC*/

input {
	width: 96%;
	text-align: center;
}

input[disabled] {
	background-color: #000;
	color: #fff;
}

.ba-list .item {
	color: #000;
}

select option {
	color: #000;
}

.input-label {
	color: #FFF;
}

.popup {
	background: #000;
}

.popup-title, .popup-sub-title {
	color: #FFF;
}

ion-content input[disabled] {
	background-color: transparent;
	color: #fff;
}

ion-content {
	background-color: #000;
}

.item-select {
	background-color: transparent;
}

.item-select select{
	color: #fff;
	background-color: transparent;
}

/*NG-GRID*/

.gridStyle {
	height: 100%;
}

/*.ngViewport {*/
	/*min-height: 400px;*/
/*}*/

.ngHeaderContainer, .ngGroupPanel {
	background-color: #000;
	border-bottom: 1px solid #fff;
	color: #33b5e5;
}

.ngRow.odd {
	background-color: #222222;
}

.ngRow.even {
	background-color: #616161;
}

.ngRow.selected {
	background-color: #33b5e5;
}

.ngCellText {
	font-size: 15px;
}

.ngVerticalBarVisible {
	height: 100%;
}

.ngSortButtonDown, .ngSortButtonUp {
	border-color: #33b5e5 transparent;
	top: 12px;
	left: auto;
	right: 30px;
	margin-left: 0;
	margin-right: 0;
}

.ngHeaderButton {
	background-color: #33b5e5;
	width: 24px;
	height: 24px;
	right: 2px;
	top: 2px;
}

.ngHeaderButtonArrow {
	border-color: #000 transparent transparent transparent;
	border-width: 13px 9px 0 9px;
	top: 6px;
}

.ngColMenu {
	background-color: #000;
}